<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Alumnos Reactivo</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Nota</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="alumno: ${alumnos}">
        <td th:text="${alumno.id}"></td>
        <td th:text="${alumno.nombre}"></td>
        <td th:text="${alumno.nota}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
